<section>
  <article style="padding:5%">
    <mat-card class="col-12">
        <div class="col-12">
          <div class="col-6">
          <div class="col-9">
              <mat-button-toggle-group>
                <mat-button-toggle style="padding:5pt" (change)="sendX($event.value)" value="start">Start X generation</mat-button-toggle>
                <mat-button-toggle style="padding:5pt" (change)="sendX($event.value)" value="stop">Stop X generation</mat-button-toggle>
              </mat-button-toggle-group>
            </div>
        </div>
        <div class="col-6">
          <div class="col-9">
            <mat-button-toggle-group>
              <mat-button-toggle style="padding:5pt" (change)="sendY($event.value)" value="start">Start Y generation</mat-button-toggle>
              <mat-button-toggle style="padding:5pt" (change)="sendY($event.value)" value="stop">Stop Y generation</mat-button-toggle>
            </mat-button-toggle-group>
          </div>
        </div>
      </div>
      <canvas id="myChart" width="700" height="400"></canvas>
    </mat-card>
  </article>
</section>